body{
  margin: 0;
  box-sizing: border-box;
}

h1{
  font-size: 18px;
}

.post{
  border: 3px solid #68abfe;
  color: black;
  text-align: center;
  margin: 20px;
  width: 250px;
}

.pingu{
  text-align: center;
  padding: 10px;
  background-color: #68abfe;
  color: white;
}

.button{
  color: white;
  background-color: #68abfe;
  border-radius: 20px;
  border: none;
  
}

.body-res{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.body-res-1{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 300px;
  border: 3px solid #68abfe;
  padding: 10px;
  height: 80px;
}